<div class="card">
  <div class="card-body">
    <div class="media">
      <img src="https://sun9-3.userapi.com/c850232/v850232251/b7788/2x8O5O2z44w.jpg?ava=1" class="align-self-start mr-3 rounded-circle" alt="...">
      <div class="media-body">
        <h5 class="mt-0">Top-aligned media</h5>
        <div class="text-muted">Mar 5, 2019 5:15pm</div>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <div>
          <app-feed-object-reply></app-feed-object-reply>
        </div>
      </div>

    </div>
  </div>
</div>
